	@import url(https://fonts.googleapis.com/css?family=Lato);
		@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic|Droid+Serif:400,400italic);


body {
	font-family: 'Lato', sans-serif;
	font-family: 'Lora', serif;
	font-family: 'Droid Serif', serif;
	color: #333;
	font-size: 18px;
	background: #333;
	background: #5F4586;
}
.container {
    background: #FFFFFF;
    max-width: 860px;
    padding: 120px;
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 2px;
    box-shadow: 0 4px 10px #333;
    position: relative;
    z-index: 101;
}
ul,ol,li {
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;
}
.mtb-10 {
	margin-top: 10px;
	margin-bottom: 10px;
}
.mtb-20 {
	margin-top: 20px;
	margin-bottom: 20px;
}
.mtb-30 {
			margin-top: 30px;
			margin-bottom: 30px;
		}
.mtb-60 {
	margin-top: 60px;
	margin-bottom: 60px;
}
.mr-5 {
	margin-right: 5px !important;
}
.mr-10 {
	margin-right: 10px !important;
}
/* Font Style */
.fs-16 {
	font-size: 16px !important;
}

.fs-20 {
	font-size: 20px !important;
}
.fs-24 {
	font-size: 24px !important;
}

.underline {
	text-decoration: underline !important;
}
.italic {
	font-style: italic;
}

.bold {
	font-weight: bold !important;
}
/*  Display Style */

.block {
	display: block;
}

.fl {
	float: left !important;
}
.center-block {
	display: table;
	margin-left: auto;
	margin-right: auto;
}

ul.li-inline > li {
	display: inline-block;
	margin-right: 20px;
}

header {
	margin-top: 30px;
	margin-bottom: 0;
}

hr.ah {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #5F4586;
    border-top: 1px solid #333;
}

.centerBlock {
	margin: auto;
}
a {
	color: #5F4586;
	text-decoration: underline;
}
	

.brand-color {
	color: #5F4586 !important;
}
.contact-link li > a{
	color: #333;
	text-decoration: none;
}
.cv {
	position: relative;
	top: -20px;
	z-index: 99;
	font-size: 16px;
	color: #5F4586;
}
.heading {
	line-height: 1.5em;
	font-size: 20px;
	border-bottom: 1px solid #333;
	display: inline-block;

}
ul.skill > li {
	min-height: 80px;
}

ul.skill > li > span {
	width: 160px;
	height: 60px;
	float: left;
	clear: both;
}

.coffee {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}
.coffee img {
	width: 90px;
}
